.event-container header {
  text-align: center;
  padding: 20px;
  background-color: #0098ab;
  color: white;

  &.full {
    background-color: rgb(246, 88, 88);
  }
}

.event-header {
  margin: 50px auto;

  .date {
    color: gray;
  } 

  .private {
    color: gray;
  }
}

.event-main {
  display: grid;
  grid-template-columns: 700px 700px;
  gap: 100px;
  padding: 50px 0;

  h4 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 50px 0;
  }

  h5 {
    font-weight: 700;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;

    a {
      margin-right: 50px;
    }


  }
}

.event-main-right {  
  width: 50%;

  > * {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
  }

  .group-card {        
    display: flex;
    align-items: center;
    cursor: pointer;

    .type {
      color: gray;
    }
  }

  .details {
    margin-top: 50px;

    .clock {
      width: 20px;
    }

    svg {
      margin-right: 20px;
    }

    li {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
    }
  }
}

.attendees-cards {
  display: grid;
  grid-template: 180px 180px / repeat(4, 130px);
  gap: 40px;
}

.attendee-card {
  background-color: white;
  border-radius: 10px;
  transition: .2s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;  

  &:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px 2px rgb(211, 211, 211);
    transform: translateY(-2px);
    transition: .2s;
  }
}

.attendee-modal {
  width: 90%;  
  height: 100%;

  .attendee-info {
    margin-left: 25px;
  }
}

.attendee-modal-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 20px;
  border-bottom: 1px solid rgb(233, 233, 233);

  .avatar {
    margin-right: 20px;
  }  

  .rsvp-time {
    color: gray;
  }
}

.footer-bg {
  height: 100px;
  background: white;
}

.event-footer {
  display: flex;
  justify-content: space-between;
  
  .body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }

  .edit-rsvp {
    background: white;
    border: 2px solid green;
    color: black;

    &:hover {
      border: 2px solid rgb(170, 31, 31);
    }
  }

  button {
    font-size: 1rem;
    margin-right: 50px;
    padding: 10px 30px;
    cursor: pointer;
    height: 50px;

    .btn-red:hover {
      background:rgb(170, 31, 31);
    }
  } 
}

.sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  // margin: 0;
  background: white;
  // min-width: 1000px;
  // width: 100%;
}