svg.icon {
  position: absolute;
  width: 15px;
  opacity: 20%;
  top: 10px;
  left: 10px;
}

.error {
  color: red;
}

.locked {
  background: rgb(221, 221, 221);
  border-radius: 10px;
  padding: 50px 20px;
  color: gray;
  text-align: center;
}

input {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 20px;
  text-indent: 24px;
  min-width: 220px;

  &:hover {
    border: 1px solid rgb(6, 6, 105);
  }
}

a {
  color: rgb(0, 130, 148);
  cursor: pointer;
}

.btn-red {
  cursor: pointer;
  color: white;
  background-color: #F65858;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  font-weight: 800;

  &:hover {
    background-color: #f53a3a;
  }
}

.google-btn {
  display: none;

  input {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    background-image: asset_url("splash/btn_google_signin_dark_normal_web@2x.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    width: 250px;
    height: 80px;

    &:hover {
      background-image: asset_url("splash/btn_google_signin_dark_focus_web@2x.png");
      transition: 200ms;
    }
  }

  &.shown {
    display: block; 
  }
}

.required {
  color: red;
}

.missing-text {
  width: 50vw;
  min-width: 900px;
  margin: auto;
  margin-top: 100px;
  height: 1000px;
  line-height: 5rem;

  a {
    text-decoration: underline;
  }
}

.body {
  width: 1000px;
  margin: auto;
  transform: translateX(-100px);
}

.loading {
  margin: 100px auto;
  height: 1000px;

  p {
    font-size: 60px;
  }
}

::-webkit-scrollbar {
  width: .5rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,.4);
}

.back {
  color: gray;
  border-radius: 50%;
  width: fit-content;
  height: auto;
  margin-top: 20px;

  svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
  } 
}