svg.icon {
  position: absolute;
  width: 15px;
  opacity: 20%;
  top: 10px;
  left: 10px;
}

.error {
  margin: 10px 0;
  color: red;
}

input {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 20px;
  text-indent: 24px;
  min-width: 220px;
}

a {
  color: rgb(0, 130, 148)
}

.btn-red {
  cursor: pointer;
  color: white;
  background-color: #F65858;
  border-radius: 10px;
  border: 0;
  padding: 10px;
  font-size: 22px;
  font-weight: 800;
}