.group-header {
  display: flex;
  margin: 50px auto;
}

.members-header {
  display: flex;
  justify-content: space-between;
}

.group-image {
  border: 1px solid red;  
  width: 600px;
  height: 330px;
  margin-right: 50px;
}

.page-container, li {

  svg {
    width: 15px;  
    fill: gray;
    margin-right: 5px;
  }
}

.info {
  a { color: black; }

  li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    p {font-weight: 300;}
    strong {font-weight: 700;}
  }
}

.organizers {
  strong {
    font-weight: 700;
    cursor: pointer;
  }
}

.group-nav {
  display: flex;
  padding: 20px 0;
}

.group-nav-links {
  display: flex;
  margin-right: 50px;
  align-items: center;
  
  .active {
    color: #008294;
  }

  a {
    margin-right: 50px;
    color: black;    

    &:hover {
      color: #008294;
    }
  }
}

.content-bg {
  background: rgb(241, 241, 241);
  min-height: 100vh;
}

.group-main {
  border-top: 1px solid lightgray;

  h4 {
    font-size: 20px;
    font-weight: 700;
  }
}

.group-about {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 50px;
  padding: 50px 0;

  p {
    margin: 30px 0;
  }
}

.event-card {
  background-color: white;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  margin: 20px 0;  
  transition: .2s;
  max-width: 600px;

  p {
    display: flex;
    align-items: center;
  }
  
  .title {
    color: #008294;
    font-weight: 500;
  }  

  h4 {
    margin: 10px 0;
    font-weight: 400;
    font-size: 1rem;
    
  }

  &:hover {
    cursor: pointer;
    box-shadow: 1px 1px 20px 5px rgb(211, 211, 211);
    transform: translateY(-2px);
    transition: .2s;
  }
}

.tab {
  display: grid;
  grid-template-columns: 35% 65%;
  gap: 50px;
  padding: 50px 0;
}

.tab-select {
  display: flex;
  flex-direction: column;
  background: white;
  height: min-content;

  a {
    margin: 20px 0 20px 20px;
    padding: 5px;
    font-size: 1rem;
    color: black;
    
    &.active {
      color: #008294;
      font-weight: 700;
      border-right: 3px solid #008294;
    }
  }
}

.member-search {
  position: relative;
  
  input {
    width: 97%;
  }
}

.member-list {
  max-width: 700px;
  max-height: 1200px;
  overflow: auto;
  overflow-x: hidden;
  padding-right: 10px;
}

.member-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;

  a:hover {
    text-decoration: underline;
  }
}

.member-card {
  background: white;
  border-bottom: 1px solid lightgray;
  padding: 30px;
  line-height: 2rem;
}

.member-title {
  font-weight: 700;  
}

.about-event-list {
  max-height: 1200px;
  overflow: scroll;
}