.home {
  display: flex;
  flex-direction: column;
}

.home-header {
  border-bottom: 1px solid lightgray;

  .splash-header-logo {
    width: 50px;
    margin-right: 40px;

    &:hover {
      cursor: pointer;
      opacity: 80%;
    }
  }
}

.header-search {
  margin-right: auto;
  display: flex;
  align-items: center;

  input {
    margin: 0;
    text-indent: 10px;
    border-right: 1px solid transparent;

    &:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;   

      &:hover {
        border-right: 1px solid #060669;
      }
    }

    &:nth-child(2) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  .btn-red {
    height: 37px;
    width: 37px;
    padding: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .svg-button {
    width: 15px;
    fill: white;
  }
}

.home-greeting {
  margin-top: 10px;
  
  h1 {
    padding: 20px 0;
  }
}

.home-main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  margin: 100px 0;
}

.home-sidebar {
  width: auto;
  height: 800px;
  padding: 30px;
  border-radius: .5rem;
}

.home-feed {
  min-width: 700px;
  height: 800px;
  border: 1px solid red;
}

.home-sidebar {
  background-color: rgb(246, 247, 248);
  min-width: 350px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 20px;  

  h4 {
    font-size: 1.2rem;
    font-weight: 700;
  }

  a {
    font-size: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.sidebar-preview {
  background-color: white;
  height: fit-content;
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 50px; 
  
  a {
    text-decoration: underline;

    &:hover {
      font-weight: 500;
    }
  }
}

.sidebar-preview.event {
  cursor: pointer;
  transition: .2s;

  &:hover {
    box-shadow: 1px 1px 15px 2px rgb(230, 230, 230);
    transition: .2s;
  }
}

.next-event {
  h3 {
    font-size: 1.5rem;
    font-weight: 700px;
    border-bottom: 3px solid lightgray;
    padding-bottom: 20px;
    // text-align: right;
  }

  li {
    margin: 10px 0;    
  }

  .date {
    color: rgb(135, 116, 87);
    font-weight: 700;
  }

  .title {
    font-weight: 700;
  }

  .location {
    display: flex;
    align-items: center;
    p {font-size: .9rem;}
  }

  .group {
    color: gray;
    margin-bottom: 10px;
  }

  .attending {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    font-weight: 500;

    svg {
      fill: green;
    }
  }
}

.no-preview {
  color: gray;
  text-align: center;  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 0;

  strong {
    font-weight: 700;
    margin-bottom: 30px;
  }

  p {
    line-height: 1rem;
  }
}

.topic-button {
  background-color: rgb(0, 130, 148);
  padding: 4px 8px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  border-radius: 6px;
  border: 0;
  margin: 0 6px 6px 0;
  cursor: pointer;

  &:hover {
    opacity: 80%;
  }
}