.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 820px;
  background: white;
  border-radius: 5px;
}

.session-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;

  .close {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 30px;
    color: lightgray;
    cursor: pointer;
  }

  img {
    width: 40px;
    margin-bottom: 20px;
  }

  a {
    color: rgb(0, 130, 148)
  }
}

.login-form {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;

  input {
    width: 93%;    
  }

  label {
    font-weight: 700;
    margin: 10px 0;
  }

  .email-field, .password-field, .fname-field, .lname-field {
    position: relative;    
    display: flex;
    align-items: center;
    justify-content: center;

    svg {width: 18px;}
  }

  svg:hover {
    cursor: pointer;
    opacity: 90%;    
  }

  .demo {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid lightgray;
    padding: 30px;
    line-height: 1.3rem;
  }
}