.page-post {
    display: flex;    

    .content {             
        width: 80%;    

        .content-body {
            padding: 15px;
            background-color: #FFFFFF;
            border-radius: 10px;
        }

       .content-footer {
            font-size: .8rem;
            margin-top: 5px;
            padding-left: 15px;
            color: gray;
       }
    } 

    .author {
        font-weight: 700;
        margin-bottom: 15px;
    }
}

.posts-write-new {
    display: flex;
    // align-items: center;
    justify-content: space-between;    
    width: 80%;

    textarea {
        border-radius: 5px;
        
    }
}