.profile-banner {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(230,230,230);
  padding-bottom: 30px;

  h4 {
    font-weight: 700;
  }

  margin: 80px auto;

  .avatar {
    margin-right: 50px;
  }

  li {
    margin: 20px 0;
  }

  .location, .members {
    color: gray;
  }
}

.profile-groups, .profile-interests {
  width: min(60vw, 1200px);
  margin: auto;
  margin-bottom: 50px;
}

.profile-groups-list {
  display: flex;
  flex-wrap: wrap;

  > * {
    max-width: 400px;
    border: 0;
  }
}

.profile-interests .header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.add-interests {
  text-indent: 0;
}