* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-weight: 800;
  font-size: 53px;
  margin-bottom: 20px;
}

h2 {
  font-weight: 800;
  font-size: 35px;
  margin-bottom: 20px;
}

h3 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 20px;
}


p {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5em;
}

.splash .blob{
  position: absolute;
  z-index: -1;
}

.green-blob {
  background-image: asset_url("splash/green-blob.svg");  
  right: 0;
  top: 0;
  width: 590px;
  height: 570px;  
}

.yellow-blob-top {
  background-image: asset_url("splash/yellow-blob.svg");
  width: 950px;
  height: 870px;
  margin-top: 200px;
  left: 27%;    
}

.red-blob-top {
  background-image: asset_url("splash/red-blob.svg");
  left: 2%;
  width: 280px;
  height: 275px;
  top: 50%;
}

.splash-header-nav {
  height: 65px;
  display: flex;
  align-items: center;
  // border: 1px solid red;

  .splash-header-logo {
    width: 100px;
    margin-left: 40px;
    margin-right: auto;
  }

  .splash-header-nav-right {
    display: flex;
    margin-right: 30px;
    // position: absolute;
    right: 0;
  
    a {
      padding-left: 25px;
      font-size: 15px;
      font-weight: 500;
      text-decoration: none;        

      &:hover {
        color: rgb(0, 130, 148)
      }
    }

  }
}

.splash-main {
  position: absolute;
  width: 60vw;
  left: 20%;  
  // border: 1px solid red; 
}

.splash-banner {
  display: flex;
  align-items: center;
  margin-top: 150px;  

  img {
    position: relative;
    width: 500px;
    margin-left: 100px;        
  }
}

.splash-overview-photos {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;

  img {
    width: 19vw;
    border-radius: 10px; 
  }

  .caption {
    display: block;
    color: rgb(0, 130, 148);
    font-weight: 700;
    font-size: 17px;    
    display: flex;
    align-items: center;

    &::after{      
      content: asset_url("splash/right-arrow.svg");
      margin: 5px;     
    }
  }

  .splash-photo {
    &:hover {
      img {opacity: 80%;}
      text-decoration: underline;
    }
  }  
}

.splash-main-overview-buttons {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}

.splash-button {
  cursor: pointer;
  background-color: rgb(0, 130, 148);
  border: 1px solid rgb(0, 130, 148);
  border-radius: 20px;
  padding: 16px;
  color: white;
  font-size: 15px;
  max-height: 50px;
  max-width: fit-content;
  white-space: nowrap;

  &:hover {background-color: #0098ae}
}

.splash-explore {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
  margin-top: 100px;

  .explore-buttons {
    button {margin: 0 10px 10px 0;}
  }

  .explore-inputs {
    display: flex;
    justify-content: space-between;
  }

  input {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
    width: 45%;
  }

  .explore-search {
    display: flex;
    flex-direction: column;
  }

  .explore-search-btn {
    color: white;
    background-color: #F65858;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    // width: 97%;
    font-size: 22px;
    font-weight: 800;
  }
}

.splash-how {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 50px;
  
  h6 {
    width: 60%;
    margin: auto;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
  }

  img {
    width: 160px;
    height: 150px;        
  }

  p {font-size: 16px;}

  a {
    color: rgb(0, 130, 148);
    margin: 15px 0;
    font-weight: 700;
    font-size: 20px;    

    &:hover{opacity: 80%;}
  }

  .splash-how-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .how-card {
    margin: 20px 0;
    display: flex;
    flex-direction: column;    
    justify-content: start;
    align-items: center;
    padding: 0 24px;
  }

  button {
    margin: auto;
    margin-top: 20px;
  }
}